header{
    display: flex;
    justify-content:space-between;
    align-items: center
}

img{
    height: 160px;
    border-radius: 50%;
}

h1{
    color: #a02334;
}

a{
    color: #000000;
}

h2{
    color: #ae445a;
    border-bottom: 3px solid #a02334;
    padding-bottom: 8px;
}

.exp p{
    text-align: justify;
}