* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
    max-width: 860px;
    margin: 2rem auto;
    gap: 0;
}

header {
    grid-column: 1;
    grid-row: 1;
    padding: 2rem 1.5rem 1rem;
}

    header h1{
        color: #a02334;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    header p {
        font-size: 0.85rem;  
    }

    header a {
        color: #000;
    }

.obj {
    grid-column: 1;
    padding: 0.5rem 1.5rem 1rem;
}

.obj h2 {
    margin-bottom: 0.3rem;
    color: #a02334;
}

.exp {
    grid-column: 1;
    padding: 0.5rem 1.5rem 2rem;
}

.exp h2 {
    margin-bottom: 0.3rem;
    color: #a02334;
}

.exp p {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.5;
    
}

.exp article{
    margin-bottom: 1.5rem;
}

.sidebar {
    grid-column: 2;
    grid-row: 1 / 5;
    background: #ae445a;
    border-radius: 80px 0 0 80px;
    margin-left: 1.5rem;
    padding: 2rem 1.5rem 2rem 2.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar img {
    height: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid;
    align-self: center;
}

.sidebar h2 {
    padding-bottom: 0.5rem;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    border-bottom: 2px solid #ffffff;
}

.hab h2{
    margin-top: 3.7rem;
}

.ed h2 {
    margin-top: 6.2rem;
}

.cursos h2 {
    margin-top: 9.3rem;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    font-size: 0.88rem;
}

.sidebar ul li {
    margin-bottom: 0.3rem;
}

.sidebar p {
    font-size: 0.88rem;
    width: 100%;
}

h2 {
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
}

section p,
section li {
    font-size: 0.9rem;
}

